.chessboard {
  width: 650px;
  height: 650px;
  margin: 20px;
  border: 25px solid rgba(0, 0, 0, 0.874);
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
.white {
  float: left;
  width: 130px;
  height: 130px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  display: table-cell;
  font-size: 70px;
  vertical-align: middle;
}
.black {
  float: left;
  width: 130px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.824);
  text-align: center;
  font-size: 70px;
  display: table-cell;
  vertical-align: middle;
}
